/* CSS declarations go here */
@media (max-width: @screen-xs-max) {}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {}
@media (min-width: @screen-lg-min) {}

@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     768px;

.tble {
  min-width: 100vw;
}

.active {
  height: 3vh;
}


tr {
  height: 5vh;
}

td {
  width: 25%;
}


html {
	background: url(Background.png) no-repeat center center;
	background-attachment: fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	min-width: 360px;
	min-height: 640px;
/*	height: 100%;*/
  
  font: Helvetica;

}
body{
  background: transparent;
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
h1{
	color: #000;
 	text-shadow: 1px 1px 0 #555, -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 0px 1px 0 #555, 1px 0px 0 #555, 0px -1px 0 #555, -1px 0px 0 #555, 0px 3px 6px #000;
 	font-family: Helvetica;
 	font-size: 23px;
}

.data-box {
  border: solid 1px;
  border-color: rgba(58,60,60,.29);
  background:#7f7f7f;
  background:rgba(255,255,255,.29);
  width: 75%;
  height: 5vh;
  margin: 0 auto;
  line-height: 5vh;
}

.info-box {
  border: solid 1px;
  border-color: rgba(58,60,60,.29);
  background:#7f7f7f;
  background:rgba(255,255,255,.29);
}

.gold {
	margin-top: 5px;
}

.exp {
	margin-top: 5px;
}


.round-button {
  width: 25%;
  margin: -5% 0 0 15%;
}

.round-button-circle {
  width: 32%;
  height: 0;
  padding-bottom: 27%;
  border-radius: 50%;
  border: 2px solid #000;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.0);;
  box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
  background: rgba(0, 0, 0, 0.5);;
}

.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  padding-right: 50%;
  padding-left: 0%;
  line-height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  justify-content: left;
  color: #000;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}


.navbar-fixed-top{
  background-color: rgba(0,0,0,0);

}
.navbar-fixed-bottom"{
  background-color: rgba(0,0,0,0);
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: block;
  align-items: center;
  position: relative;
}
.vertical-center2 {
min-height: 100%;  
  min-height: 100vh; 
 	display: flex;
}

.filler {
	height:60px;
	width:100%;
}

.filler-inv {
	height:50px;
	width:100%;
}

.table, tr, td, thead, tbody  {
  background-color: transparent;
}

.subitem {
	border: solid black 1px;
	width: 75%;
	min-height: 300px;
}

.invitem {
  border: solid black 1px;
  height: 70vh;
  overflow: hidden;
}

.save {
	height: 50px;
}

.transparent {
  background:#7f7f7f;
  background:rgba(0,0,0,0);
  border: none;
}
.list-transparent{
  background:#7f7f7f;
  background:rgba(255,255,255,.29);
}
.lvl-list{
  border: solid 1px;
  border-color: rgba(58,60,60,.29);
  margin-top: 11px;
  min-height: 5vh;
  line-height: 5vh;
  vertical-align: center;
}
.min-text{
  font: Helvetica;
  font-size: .80em;
  font-weight: bold;
}
.normal-text{
  font: Helvetica;
  font-size: 1em;
  font-weight: bold;
}
header{
  margin-top: 10%;
}
.navbar-style{
  width:50%; 
  height:50%;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*.navbar-stats{
background-image: url(StatsIcon.png) no-repeat center center
}
.navbar-equip{
background: url(Equipment Icon.png) no-repeat center center
}
.navbar-sidebag{
background: url(Sidebag Icon.png) no-repeat center center
}
.navbar-extras{
background: url(Extras Icon.png) no-repeat center center
}
.navbar-effects{
background: url(Effects Icon.png) no-repeat center center
}
.navbar-abilities{
background: url(Abilities Icon.png) no-repeat center center
}
.navbar-levelup{
background: url(LevelUp Icon.png) no-repeat center center
}*/